<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Capstone project 4</title>
        <link rel="stylesheet" href="styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Playpen+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Open+Sans&family=Playpen+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>Top 50 highest rated animes</h1>
        </div>

        <div class="roll">
            <% if(locals.data) { %>
                <% var link = "" %>
                <ol>
                    <% data.forEach((element)=>{ %>
                        <% link = "https://cdn.animenewsnetwork.com"+element.anime[0].$.href %>
                        <li><a href=<%= link %> ><%= element.anime[0]._ %></a></li>
                    <% }) %>
                </ol>
            <% } else if(locals.error) {%>
                <p><%= error %></p>
            <% } %>
        </div>
    </body>
</html>